<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %></title>
</head>
<body>
    <div id="movie-title"><%= movie.title %></div>
    <div id="rating"><%= movie.rating %>/10 </div>
    <div id="language">language : <%= movie.language %></div>
    <div id="review"><%= movie.review %> </div>
</body>
</html>